*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, poppins;
}
body{

    background:linear-gradient(to right,hsl(58, 100%, 77%) ,rgb(130, 255, 166));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    

}
html{
    animation: smurfcat 5s linear infinite;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background:seagreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index:100;
    animation: none;
    border-radius: 15px;
    border: 2px solid white;
   
}
.footer{
    text-align: center;
    border-radius: 10px;
    border: 2px solid black;
    margin-top: 6%;
}


    

.logo{
    font-size: 35px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 800;
    
}
.navbar a{
    font-size: 20px;
    text-decoration: none;
    font-weight: 700;
    color: rgb(255, 255, 255);
    margin-left: 40px;
    padding:25px;
    border-radius: 15px;
    transition: .6s linear;
    
   
    

}
.navbar a:hover{
    text-decoration: underline;
    background-color: rgb(93, 233, 172);
    color: black;
    padding: 30px;
    border-radius: 15px;}
    iframe{
        height: 400px;
        width: 50%;
        margin-left: 25%;
        margin-top: 2%;
    }
    #text{
        display: flex;
        justify-content: center;
        margin-top: 7%;
        text-align: center;
    }